@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);

body {
  padding: 2% 4%;
}

img {
  width: 400px;
}

.logo {
  margin: 3%;
}

.color_swatches {
  margin: 3%;
}

.swatch {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  padding: 3%;
}

.primary_color {
  background-color: #fff;
}

.secondary_color {
  background-color: #000;
  color: #fff;
}

.highlighting_color {
  background-color: #e7bb41;
}

.font {
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-style: italic
}
