.home {
  padding: 3%;
}

.home > div {
  display: inline-block;
  width: 90%;
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  @include border-radius(2px);

  @media screen and (min-width: $break-small) {
    width: 40%
  }

  @media screen and (min-width: $break-med) {
    width: 25%
  }
}
