.podcast_title {
  text-align: center;
}

.genre_title {
  text-align: center;
  font-style: italic;
}

.podcast  {
  .btn:hover{
  background: white;
  }
  .btn {
    float: left;
    background-color: $maroon;
  }


}
