.podcast_title {
  text-align: center;
}

.genre_title {
  text-align: center;
  font-style: italic;
}

.podcast  {
  //  overall, this CSS is incredibly well formatted, structured and written
  // just noticed a small place where the 2 hover states should probably be
  // combined
  .btn:hover{
  background: white;
  }
  .btn {
    float: left;
    background-color: $maroon;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
  }
  .btn:hover{
    background-color: $light-maroon;
  }
}
