@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);

$yellow: #e7bb41;
$light-yellow: #ecd084;
$grey: #eee;
$maroon: #d5bdc9;
$light-maroon: #ab7c93;

$break-small: 500px;
$break-med: 920px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$font: 'Roboto', sans-serif;
