@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
header {
  background-color: #e7bb41; }
  header nav {
    width: 50%;
    display: inline-block;
    float: right; }
  header #logo {
    width: 50%; }
    @media screen and (min-width: 500px) {
      header #logo {
        width: 30%; } }
    @media screen and (min-width: 920px) {
      header #logo {
        width: 20%; } }
  header a {
    font-color: white; }
  header .title {
    width: 50%; }
  header ul {
    padding: 4%;
    margin: 2%; }
    @media screen and (min-width: 500px) {
      header ul {
        padding: 0.5%; } }
  header li {
    border: 2px solid white;
    padding: 8%;
    margin: 2%;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    @media screen and (min-width: 500px) {
      header li {
        padding: 6%; } }
    @media screen and (min-width: 920px) {
      header li {
        padding: 3%; } }

footer {
  text-align: center;
  background-color: black;
  color: white; }
  footer li {
    padding: 4%; }

.frequencies {
  padding: 3%; }

.frequencies > div {
  display: inline-block;
  width: 90%;
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  @media screen and (min-width: 500px) {
    .frequencies > div {
      width: 40%; } }
  @media screen and (min-width: 920px) {
    .frequencies > div {
      width: 25%; } }

.signup_login_container {
  text-align: center; }
  .signup_login_container .form_container, .signup_login_container .twitter {
    width: 75%;
    margin: 5% auto;
    padding: 2%;
    border: 3px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    @media screen and (min-width: 920px) {
      .signup_login_container .form_container, .signup_login_container .twitter {
        display: inline-block;
        width: 35%;
        height: 250px;
        float: left;
        margin: 3%; } }
  .signup_login_container label {
    display: inline-block;
    width: 100px; }
  .signup_login_container .form-group {
    margin: 2% auto; }
  .signup_login_container .btn {
    border: none;
    background-color: #e7bb41;
    padding: 3%;
    margin: 5% auto;
    font-size: 1.25rem; }
  .signup_login_container .twitter:hover {
    background-color: #e7bb41; }
  .signup_login_container #twitter-login {
    width: 20%; }
    @media screen and (min-width: 920px) {
      .signup_login_container #twitter-login {
        margin-top: 15%; } }

body {
  font-family: "Roboto", sans-serif; }

li {
  list-style-type: none;
  display: inline-block; }

a {
  text-decoration: none;
  color: black; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*# sourceMappingURL=main.css.map */
