@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,900);
header {
  background-color: #e7bb41; }
  header nav {
    width: 50%;
    display: inline-block;
    float: right; }
  header #logo {
    width: 50%; }
    @media screen and (min-width: 500px) {
      header #logo {
        width: 30%; } }
    @media screen and (min-width: 920px) {
      header #logo {
        width: 20%; } }
  header .title {
    width: 50%; }
  header ul {
    padding: 4%;
    margin: 2%; }
    @media screen and (min-width: 500px) {
      header ul {
        padding: 0.5%; } }
  header li {
    border: 2px solid white;
    padding: 8%;
    margin: 2%;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    header li li:hover {
      background-color: #cfa839; }
    @media screen and (min-width: 500px) {
      header li {
        padding: 6%; } }
    @media screen and (min-width: 920px) {
      header li {
        padding: 3%; } }

footer {
  text-align: center;
  background-color: black;
  color: white; }
  footer li {
    padding: 4%; }

.frequencies {
  padding: 3%;
  background-image: url("pattern_white.jpg");
  background-color: #FCFBE3; }

.frequency {
  background-color: white; }

.frequencies > div {
  display: inline-block;
  width: 90%;
  border: 3px solid #742625;
  margin: 1%;
  padding: 1%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  @media screen and (min-width: 500px) {
    .frequencies > div {
      width: 40%; } }
  @media screen and (min-width: 920px) {
    .frequencies > div {
      width: 25%; } }
  .frequencies > div:hover {
    background-color: #f2f2ea;
    cursor: pointer; }

.show h3 {
  text-align: center; }

.show > div > div {
  border: 2px solid black;
  padding: 2em;
  margin: 1em;
  width: 40%;
  display: inline-block; }
  .show > div > div:hover {
    background-color: #87e2cb;
    cursor: pointer; }

.editFrequency .btn {
  padding: 2%;
  font-size: 16px;
  border-radius: 4px; }

.signup_login_container {
  text-align: center;
  background-image: url("pattern_white.jpg"); }
  .signup_login_container .form_container, .signup_login_container .twitter {
    width: 75%;
    margin: 5% auto;
    padding: 2%;
    border: 3px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: white; }
    @media screen and (min-width: 920px) {
      .signup_login_container .form_container, .signup_login_container .twitter {
        display: inline-block;
        width: 35%;
        height: 250px;
        float: left;
        margin: 3%; } }
  .signup_login_container label {
    display: inline-block;
    width: 100px; }
  .signup_login_container .form-group {
    margin: 2% auto; }
  .signup_login_container .twitter:hover {
    background-color: #e7bb41; }
  .signup_login_container #twitter-login {
    width: 20%; }
    @media screen and (min-width: 920px) {
      .signup_login_container #twitter-login {
        margin-top: 15%; } }

.podcastSearch {
  text-align: center;
  background-image: url("pattern_white.jpg"); }

.result {
  text-align: left; }
  .result img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .result .artistName {
    width: 60%;
    margin-top: 0;
    padding: 2%;
    color: black; }
    @media screen and (min-width: 920px) {
      .result .artistName {
        width: 30%; } }
  .result .genres {
    width: 100%;
    font-style: italic; }
    @media screen and (min-width: 920px) {
      .result .genres {
        width: 30%; } }

.searchForPodcast {
  width: 75%;
  margin: 5% auto;
  padding: 1%;
  border: 3px solid #742625;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: white; }
  @media screen and (min-width: 920px) {
    .searchForPodcast {
      display: inline-block;
      width: 50%;
      margin: 3%; } }
  .searchForPodcast .btn {
    padding: 2%; }
  .searchForPodcast label {
    display: block;
    font-size: 1.25rem; }
    @media screen and (min-width: 500px) {
      .searchForPodcast label {
        display: inline-block; } }
  .searchForPodcast #genre {
    width: 200px;
    height: 40px;
    font-size: 1.25rem; }

.podcast_description {
  width: 80%;
  margin: 3% auto; }

.episode, .podcastEntry {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  padding: 3%;
  margin: 0 auto;
  width: 80%;
  border: 2px solid #eee;
  background: white; }
  @media screen and (min-width: 500px) {
    .episode, .podcastEntry {
      justify-content: space-between;
      padding: 2%; } }
  @media screen and (min-width: 920px) {
    .episode, .podcastEntry {
      align-content: flex-end;
      justify-content: flex-end;
      flex-flow: row nowrap;
      padding: 1%; } }
  .episode audio, .podcastEntry audio {
    margin: 1.5% auto; }
  .episode a, .podcastEntry a {
    width: 300px; }
  .episode .btn, .podcastEntry .btn {
    font-size: 1rem;
    padding: 4%;
    margin: 0.5% auto; }
    @media screen and (min-width: 500px) {
      .episode .btn, .podcastEntry .btn {
        padding: 2%; } }
    @media screen and (min-width: 920px) {
      .episode .btn, .podcastEntry .btn {
        padding: 1.5%; } }

.episode:nth-child(even), .podcastEntry:nth-child(even) {
  background-color: #eee; }

body {
  font-family: "Roboto", sans-serif; }

li {
  list-style-type: none;
  display: inline-block; }

a {
  text-decoration: none;
  color: black; }

.btn {
  border: none;
  background-color: #e7bb41;
  padding: 1%;
  margin: 7px;
  font-size: 1.25rem;
  border-radius: 3%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.hide {
  display: none; }

.newFrequencyButton, .goHome {
  width: 45%; }

/*# sourceMappingURL=main.css.map */
