// just wanted to reiterate how great this SASS is!
@import "variables";
@import "header";
@import "footer";
@import "frequencies";
@import "login";
@import "podcastSearch";
@import "podcast";

body {
  font-family: $font;
  background-image: url('pattern_white.jpg');
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
  background-color: $yellow;
  padding: 1%;
  margin: 7px;
  font-size: 1.25rem;
  border-radius: 3%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.hide {
  display: none;
}
