@import "variables";
@import "header";
@import "footer";
@import "frequencies";

body {
  font-family: $font;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
