@import "variables";
@import "header";
@import "footer";
@import "frequencies";
@import "login";
@import "podcastSearch";

body {
  font-family: $font;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
  background-color: $yellow;
  padding: 3%;
  margin: 5% auto;
  font-size: 1.25rem;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.hide {
  display: none;
}
